<head>
    <a href="https://www.instagram.com/gldnsemijoias/" style="position: absolute; margin-left: calc(100% - 160px); margin-top: -235px">GLDNSEMIJOIAS<img src="assets/Instagram.png" style="height: 20px; position:absolute; margin-top: 0px; margin-left:calc(100% - 300px)"/> </a>
    <a href="#"><img src="assets/logo.png" style="height: 80px; position:absolute ; top: 5vh; margin-left: calc(50% - 80px)"></a>
    <li style="margin-left: calc(50% - 220px)">Brincos</a>
        <div class="dropdown">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li style="margin-left: calc(50% - 80px)">Aneis</a>
        <div class="dropdown">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li style="margin-left: calc(50% + 20px)">Coleções</a>
        <div class="dropdown">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li style="margin-left: calc(50% + 170px)"><a style="text-decoration: none; color: #83919C" href="#">Sale</a>
    </li>
</head>

<body>
    <div class="Fakebanner" id="Banner2">
        <div class="banner" id="Banner1">
            <img src="assets/leftArrow.png" style="height:50px; margin-top:calc(15vw); position:absolute" id="left-btn">
            <img src="assets/rightArrow.png" style="height:50px; margin-top:calc(15vw); margin-left: calc(100vw - 70px); position:absolute" id="right-btn">
        </div>
    </div>

    <div class="line">
        <h1 class="tag">Eu Quero</h1>
    </div>

    <div class="gallery" style="margin-left: 15vw; margin-top:30vh;">
        <img class="portrait" src="assets/Quero1.jpg" style="height: 50vh; margin-left: 2%">
        <img class="portrait" src="assets/Quero2.jpg" style="height: 50vh; margin-left: 10%">
        <img class="portrait" src="assets/Quero3.jpg" style="height: 50vh; margin-left: 10%">
    </div>


    <div class="line" style="margin-top: 150px">
        <h1 class="tag" style="width:300px; margin-left:calc(50% - 150px)">Lançamentos</h1>
    </div>

    <%# <div class="line" style="margin-top: 150px" >
        <h1 class="tag" style="width:230px; margin-left:calc(50% - 110px)">Destaques</h1>
    </div> %>

    <div class="line" style="margin-top: 150px">
        <h1 class="tag" style="width:850px; margin-left:calc(50% - 425px)">Siga nosso instagram <a class="insta" href="https://www.instagram.com/gldnsemijoias/">@GLDNSEMIJOIAS</a></h1> 
    </div>
</body>

<footer>

</footer>
