<head>
    <a href="https://www.instagram.com/gldnsemijoias/" style="position: absolute; margin-left: calc(100% - 40px); margin-top: -235px"><img src="assets/Instagram.png" style="height: 20px"/> </a>
    <a href="#"><img src="assets/logo.png" style="height: 80px; position:absolute ; margin-top: -20vh; margin-left: calc(50% - 80px)"></a>
    <li style="margin-left: calc(50% - 200px)">Brincos
        <div class="dropdown" style="margin-left:calc(-50vw + 190px)">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li style="margin-left: calc(50% - 60px)">Pulseiras</a>
        <div class="dropdown" style="margin-left:calc(-50vw + 50px)">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li style="margin-left: calc(50% + 100px)">Colares</a>
        <div class="dropdown" style="margin-left:calc(-50vw - 110px)">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>

</head>

