// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tab {
    height: 30px;
    width: 30px;
    display: block;
    background-color: #EBEAEB;
    position: absolute;
    margin-left: 0px;
    margin-top: -10px;
    border-top: 2px solid #83919c;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}