/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'Montserrat';
    src: font-url('Montserrat-ExtraLight.ttf') format('truetype');
}

head {
    width: 130vw;
    left: 0;
    height: 25vh;
    background-color: #222c3b;
    display: block;
    border-bottom: 5px solid #83919C;
    top: 0;
}

body{
    color: #EBEAEB;
    width: 100%;
    overflow-x: hidden;
}

.option{
    font-family: 'Montserrat';
    margin-top: -70px;
    font-size: 30px;
    color: #83919C;
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    width: 145px;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    padding-left: 2px;
    margin-top: 3px;
    margin-left: -3px;
    background-color: #222c3b;
    min-width: 300px;
    height: 300px;
    z-index: 1;
    text-align: center;
    border-bottom: 3px solid #83919C;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat';
    position: absolute;
    color: #83919c;
    margin-left: -40%;
    margin-top: 100px;
}

.link:visited{
    color: #83919c;
}

.link:hover{
    color: #f0b845;
    text-decoration: underline;
    background-color: #222c3b;
}

.option:hover {
    color: #f0b845;
    text-decoration: underline;
    background-color: #222c3b;
}

.option a:hover{
    color: #f0b845;
    text-decoration: underline;
    background-color: #222c3b;
}

.option:hover .dropdown{
    display: block;
}

.insta{
    color: #83919C;
    font-size: 30px;
    text-decoration: none;
}

.insta:hover{
    color:#f0b845;
    background-color: #EBEAEB;
    text-decoration: underline;
}

.instaLink:link{
    color: #EBEAEB;
    text-decoration: none;
    font-size: 15px;
    transition: transform .5s ease;
}

.instaLink:visited{
    color: #EBEAEB;
    text-decoration: none;
}

.instaLink:hover{
    background-color: #222c3b;
    text-decoration: underline;
    transform: scale(1.1)
}

.tab {
    height: 30px;
    width: 30px;
    display: block;
    background-color: #EBEAEB;
    position: absolute;
    margin-left: 0px;
    margin-top: -35px;
    border-top: 2px solid #83919c;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform .5s ease;
}

.tab:hover{
    background-color: #EBEAEB;
    transform: scale(1.2);
}
