// Place all the styles related to the gldn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.banner{
    width: 100vw;
    height: 30vw;
    margin-top: -7px;
    margin-left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Fakebanner{
    width: 100vw;
    height: 30vw;
    margin-top: -33px;
    margin-left: -33px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.frame{
    width: 99%;
    height: 29vw;
    margin-top: 0px;
    margin-left: 0px;
    padding: 7px 7px 7px 7px;
    border: 3px solid #EBEAEB;    
}

.gallery{
    overflow: hidden;
    display: inline-block;
}

.portrait{
    border: none;
    height: 40vh;
    width: 15vw;
    margin-left: 0px;
    overflow: hidden;
    align-items: center;
    transition: transform .5s ease;
}

.portrait img{
    height: 100%;
    width: 100%;
}


.portrait:hover{
    transform: scale(1.2);
}