// Place all the styles related to the gldn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
    font-family: 'Montserrat';
    src: font-url('Montserrat-ExtraLight.ttf') format('truetype');
}

head {
    width: 100%;
    height: 25vh;
    background-color: #222c3b;
    display: block;
    border-bottom: 5px solid #83919C;
    top: 0;
}

body{
    color: #EBEAEB;
    width: 100vw;
    overflow-x: hidden;
}

li{
    font-family: 'Montserrat';
    margin-top: -70px;
    font-size: 30px;
    color: #83919C;
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    width: 145px;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    padding-left: 2px;
    margin-top: 3px;
    background-color: #222c3b;
    min-width: 300px;
    height: 300px;
    z-index: 1;
    text-align: center;
    border-bottom: 3px solid #83919C;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat';
    position: absolute;
    color: #83919C;
    margin-left: -40%;
    margin-top: 100px;
}

.link:hover{
    color: #EBEAEB;
    text-decoration: underline;
}

li:hover {
    color: #EBEAEB;
    text-decoration: underline;
}

li a:hover{
    color: #EBEAEB;
    text-decoration: underline;
}

li:hover .dropdown{
    display: block;
}

.banner{
    width: 100%;
    height: 30vw;
    margin-top: -7px;
    margin-left: -7px;
    padding: 7px 7px 7px 7px;
}

.frame{
    width: 99%;
    height: 29vw;
    margin-top: 0px;
    margin-left: 0px;
    padding: 7px 7px 7px 7px;
    border: 3px solid #EBEAEB;    
}

.line{
    position: absolute;
    height: 3px;
    width: 70%;
    border-color: #EBEAEB;
    border-radius: 10px 10px 10px 10px;
    margin-left: 15%;
    margin-top: 150px;
    background-color: #83919C;
    text-align: center;
}

.tag {
    font-size: 40px;
    height: 50px;
    width: 200px;
    margin-top: -30px;
    position: absolute;
    margin-left: calc(50% - 100px);
    background: #EBEAEB;
    font-family: 'Montserrat';
    color: #83919C;
}