// Place all the styles related to the gldn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
    font-family: 'Montserrat';
    src: font-url('Montserrat-ExtraLight.ttf') format('truetype');
}

head {
    width: 100%;
    height: 25vh;
    background-color: #222c3b;
    display: block;
    border-bottom: 5px solid #83919C;
}

li{
    font-family: 'Montserrat';
    margin-top: -70px;
    font-size: 30px;
    color: #83919C;
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    padding-left: 2px;
    margin-top: -5px;
    background-color: #222c3b;
    width: 100vw;
    height: 500px;
    z-index: 1;
    border-bottom: 10px solid #83919C;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat';
    position: absolute;
    color: #83919C;
    margin-top: 100px;
    margin-left: 40%;
}

.link:hover{
    color: #EBEAEB;
    text-decoration: underline;
}

li:hover {
    color: #EBEAEB;
    text-decoration: underline;
}

li:hover .dropdown{
    display: block;
}