// Place all the styles related to the gldn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.banner{
    width: 100vw;
    height: 30vw;
    margin-top: -7px;
    margin-left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Fakebanner{
    width: 100vw;
    height: 30vw;
    margin-top: -33px;
    margin-left: -33px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.frame{
    width: 99%;
    height: 29vw;
    margin-top: 0px;
    margin-left: 0px;
    padding: 7px 7px 7px 7px;
    border: 3px solid #EBEAEB;    
}

.line{
    position: absolute;
    height: 3px;
    width: 70%;
    border-color: #EBEAEB;
    border-radius: 10px 10px 10px 10px;
    margin-left: 15%;
    margin-top: 150px;
    background-color: #83919C;
    text-align: center;
}

.gallery{
    overflow: hidden;
}

.portrait{
    border: none;
    transition: transform .5s ease;
}

.portrait:hover{
    transform: scale(1.2);
}

.tag {
    font-size: 40px;
    height: 50px;
    width: 200px;
    margin-top: -15px;
    position: absolute;
    margin-left: calc(50% - 100px);
    background: #EBEAEB;
    font-family: 'Montserrat';
    color: #83919C;
}