// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table{
    color: #222c3b;
}

.field{
    color: #222c3b;
    font-family: 'Montserrat';
}

.submitBtn{
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 120px;
    color: #EBEAEB;
    background-color: #222c3b;
}

.footer{
    height: 30vh;
    width: 100vw;
}

.product{
    height: calc(13vh + 20vw);
    width: 20vw;
    margin-top: -4px;
    margin-left: calc(40vw - 20px);
    border: 2px solid #222c3b;
}

.product:hover{
    height: calc(13vh + 20vw);
    width: 20vw;
    margin-top: -4px;
    margin-left: calc(40vw - 20px);
    border: 2px solid #f0b845;
}

.ouroName{
    color: #f0b845;
    margin-top: 0px;
    font-size: 30px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Montserrat';
    background-color: #222c3b;
}

.prataName{
    color: #83919C;
    margin-top: 0px;
    font-size: 30px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Montserrat';
    background-color: #222c3b;
}

.productMaterial{
    color: #222c3b;
    margin-top: -25px;
    margin-left: 15px;
    font-size: 30px;
    text-align: left;
    font-family: 'Montserrat';
}

.productPrice{
    color: #222c3b;
    margin-top: -25px;
    margin-left: 15px;
    font-size: 30px;
    text-align: left;
    font-family: 'Montserrat';
}

.productImage{
    max-height:20vw;
    max-width:20vw;
    margin-top: 0px;
    overflow: hidden;
    margin-left: calc(10vw - 120px);
    background-position: center;
    border: none;
}

.productImage:hover{
    max-height:20vw;
    max-width:20vw;
    margin-top: 0px;
    overflow: hidden;
    margin-left: calc(10vw - 120px);
    background-position: center;
    border: none;
}

.showImage{
    max-height: 30vw;
    margin-left: 20vw;
    margin-top: -10px;
    position: absolute;
}

h1{
    width: 20vw;
    text-align: left;
    color: #222c3b;
    font-family: 'Montserrat';
    font-size: 35px;
    margin-left: 43vw;
    margin-bottom: 40px;
}

h2{
    width: 20vw;
    text-align: left;
    color: #222c3b;
    font-family: 'Montserrat';
    font-size: 30px;
    margin-left: 43vw;
    margin-bottom: 40px;
}

.text{
    width: 25vw;
    height: 17vw;
    overflow: hidden;
    text-align: left;
    color: #222c3b;
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 110%;
    margin-left: 43vw;
}