<head>
    <a class="instaLink" href="https://www.instagram.com/gldnsemijoias/" style="position: absolute; margin-left: calc(100% - 175px); margin-top: -245px">GLDNSEMIJOIAS<img src="/assets/Instagram.png" style="height: 20px; position:absolute; margin-top: 0px; margin-left:calc(100% - 280px)"/> </a>
    <a href="<%root_path%>"><img src="/assets/logo.png" style="height: 80px; position:absolute ; top: 5vh; margin-left: calc(50% - 80px)"></a>
    <li style="margin-left: calc(50% - 220px)">Brincos</a>
        <div class="dropdown">
            <a class="link" href="<%= sale_path%>">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li style="margin-left: calc(50% - 80px)">Aneis</a>
        <div class="dropdown">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li style="margin-left: calc(50% + 20px)">Coleções</a>
        <div class="dropdown">
            <a class="link" href="#">Prata 925</a>
            <a class="link" href="#" style="margin-top: 200px">Ouro</a>
        </div>
    </li>
    <li style="margin-left: calc(50% + 170px)"><a style="text-decoration: none; color: #83919C" href="#">Sale</a>
    </li>

    <a class="tab" href="<%= root_path%>" style="margin-top:-35px">
        <img src="/assets/Home.png" style="height:20px; margin-left:5px; margin-top:5px">
    </a>
</head>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
